.App {
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-navi {
  width: 100%;
}

.App-navi-button {
  width: 50%;
  height: 8vmin;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content-icon {
  width: 30vmin;
}

.App-content-move {
  width: 80vmin;
}

.App-link {
  color: #61dafb;
}
